# Entornos virtuales
venv/
.env/
.venv/

# Archivos de configuración del entorno
*.env

# Archivos de base de datos locales
*.sqlite3

# Directorios de cache de Django
__pycache__/
db.sqlite3

# Archivos de migración
*.pyc
*.pyo
*.pyd
*.pdb
*.log
*.pot
*.pyc
*.so

# Directorios del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log y temporales
*.log
*.tmp

# Archivos de configuración del editor
.vscode/
.idea/
*.swp
*.swo
